@import url("https://fonts.googleapis.com/css?family=Krona+One:regular&display=swap");

@font-face {
  font-family: m;
  src: url(./font/MargarethRosinante-Regular.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Krona One", sans-serif;
  background-color: #000;
  color: #fff;
}

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
}

/* =========== REUSABLE STYLES =========================================== */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 4.5rem 0rem 2rem;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* =========== HEADER SECTION =========================================== */
.header-section {
  position: relative;
}

.header-container {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 3rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 10000;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 20rem;
}

.nav-item {
  padding-bottom: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.nav-item:hover {
  border-bottom: 1px solid #fff;
}
/* =========== INFO SECTION =========================================== */
.info-section {
  padding: 7.5rem 4rem;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: -250px;
  right: 0%;
  height: 30vh;
  transition: top 0.3s ease;
  z-index: 100;
}
.show {
  top: 0;
}
.active {
  border-bottom: 1px solid #fff;
}

.info-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 3rem;
}
.info-about {
  max-width: 50vw;
}
.info-contact i {
  transform: rotate(45deg);
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-item {
  text-align: end;
}
.contact-link {
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.contact-link:hover {
  border-bottom: 1px solid #fff;
}

/* =========== HOME SECTION =========================================== */
.home-section {
  background-image: url(./img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}
.swiper {
  width: 90vw;
  height: 85vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-content__top {
  position: absolute;
  top: 10%;
  left: 15%;
  display: flex;
}

.slide-content__top-tilte {
  text-transform: lowercase;
  font-family: m, sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-right: 3rem;
  width: 350px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
}
.slide-content__top-links {
  display: flex;
  gap: 2.5rem;
}
.slide-content__top-links > a > i {
  transform: rotate(45deg);
}
.slide-content__top-img {
  width: 600px;
  height: 360px;
  overflow: hidden;
}
.slide-content__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 2%;
  left: 0;
  border-top: 1px solid grey;
  padding-top: 1rem;
  font-size: 14px;
}
.slide-text__second-list {
}
.stack-list {
}
.stack-list__item {
}
.stack-list__link {
}
.slide-text__second-desc {
  width: 45%;
  color: grey;
}
.slide-info {
}
.slide-location {
}
.slide-year {
}
