/*========== Fonts ==========*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --text-color: #22e222;
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  --normal-font-size: 1rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-rg: 400;

  /*========== Border ==========*/
  --border: 1px solid var(--black-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--black-color);
  color: var(--text-color);
}
ul {
  list-style: none;
}

/* ===============-REUSABLE CSS CLASSES-=========================== */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  width: 100vw;
  height: 100vh;
}
.line {
  padding: 1rem 0;
}

.text {
  font-family: monospace;
  font-size: clamp(1rem, 0.643rem + 1.79vw, 2.25rem);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(40) 1s 1 normal both;
}
.text span {
  color: rgb(255, 255, 255);
}
.text a {
  color: #5500ff;
  transition: all .3s ease;
}
.text a:hover {
  color: #846ab7;
}
.underscore::after {
  content: "_";
  animation:  cursor .5s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



@media screen and (max-width: 575px) {
  .text {
    white-space: wrap;
  }
}